.question {
    width: 90%;
    background-color: rgba(41, 45, 56, 1);
    color: white;
    padding: 26px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.open {
    min-height: 100px;
}

.rotate {
    transform: rotateX(180deg);
}
  
.question div {
    font-weight: bold;
    font-size: 20px;
    font-family: "ClashDisplay-Medium", 'sans-serif';
}

.question p {
    
}

.arrowDown {
    height: 16px;
}

.answerContainer {
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 10px;
}
.answerContainer p {
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-family: "ClashDisplay-Regular", 'sans-serif';
    margin-top: 20px;
    color: black;
}

@media screen and (max-width: 700px) {
    .question {
        width: 95%;
        /* padding: 10px 20px; */
    }
    .question div {
        font-size: 14px;
        font-family: "ClashDisplay-Light", 'sans-serif';
    }

    .arrowDown {
        height: 10px;
    }
}



@supports (-webkit-backdrop-filter: blur(1px)) {
    .question div {
        font-weight: 400;
        font-size: 18px;
    }
}