.sendBtn {
    min-height: 80%;
    width: 10%;
    background: rgba(60, 75, 100, 1);
    border-radius: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.sendPictureBtn {
    min-height: 80%;
    aspect-ratio: 1;
    border-radius: 50px;
    background: rgba(60, 75, 100, 1);
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.sendPictureIcon {
    color: white;
}

.sendPictureBtn .wrapper {
    display: none;
}

/* rgba(60, 75, 100, 1); */

.sendBtn:hover, .sendPictureBtn:hover {
    background: rgba(34, 42, 57, 1);
}