.mainContainer {
    --header2-primary-color: #22C621;
    --primary-color: #069905;
    padding-top: 90px;
    background-color: white;
}

.content {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    height: 600px;
    background-color: white;
}
.leftContainer {
    padding: 0px 60px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ClashDisplay-Regular';
}
.rightContainer {
    padding: 20px;
    background-color: #F2F2F2;
    width: 45%;
    display: flex;
    flex-direction: column;
    font-family: 'ClashDisplay-Regular';
}

.currentRatesHeader {
    font-weight: 900;
    letter-spacing: 1px;
}

.currentRatesDesc {
    font-weight: 200;
    letter-spacing: 1px;
}

.startTradeBtn {
    cursor: pointer;
}

.textContainer {
    padding: 12px 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.textContainer textarea:focus, .textContainer input:focus {
    outline: none;
}


.questionsContainer {
    background-color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #101742;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    align-self: center;
    /* display: none; */
  }
  
  .questionsTextbox {
    margin-bottom: 50px;
  }
  
  .questionsContainer h2 {
    font-size: 38px;
    text-align: center;
    font-family: "ClashDisplay-Light", 'sans-serif';
  }
  
  .questionsContainer p {
    font-size: 16px;
    /* margin-top: -20px; */
    font-family: "Archivo", 'sans-serif';
  }
  
  
  .moreQuestions {
    width: 90%;
    background-color: rgba(41, 45, 56, 1);
    padding: 26px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .moreQuestions h3 {
    margin-bottom: 30px;
    font-family: "ClashDisplay-Medium", 'sans-serif';
    color: white;
  }
  
  .moreQuestions p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    font-family: "Archivo", 'sans-serif';
    color: white;
  }


@media screen and (max-width: 950px) {
    .leftContainer {
        display: none;
    }
    .rightContainer {
        width: 80%;
    }
    .content {
        justify-content: center;
    }
}

@media screen and (max-width: 680px) {
    .rightContainer {
        width: 100%;
    }
    .content {
        font-size: .8em;
        padding: 5px;
    }
}

@media screen and (max-width: 400px) {
    .content {
        font-size: .65em;
        padding: 0px;
    }
}