
.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1E1E1E;
    padding: 50px 40px;
    font-family: 'ClashDisplay-Regular';
}

.footer .desc {
    width: 45%;
    padding-right: 100px;
}

.footer .descText {
    color: white;
    margin-top: 20px;
    font-size: .8em;
}

.footer .linksSection {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer .footerLinkHeader {
    color: var(--header2-primary-color);
    margin-bottom: 15px;
}
.footer .linksContainer {
    display: flex;
    flex-direction: column;
}

.footer .linksContainer a {
    text-decoration: none;
    color: white;
    font-size: .9em;;
}


@media screen and (max-width: 600px) {
    .footer {
        padding: 50px 15px;
    }
    .footer .desc {
        width: 45%;
        padding-right: 3px;
    }
    .footer .descText {
        margin-top: 10px;
        font-size: .8em;
    }
    .footer .linksContainer a {
        font-size: .8em;;
    }
}